html {height:100%}
body { padding: 0; margin: 0; width: 100%; min-height: 100%; min-width: 825px}
.content{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    font-family: "Comic Sans MS", serif;
}
.navbar{
    display: flex;
    height: 70px;
    padding: 10px;
    background-color: blue;
    align-items: center;
}
.link{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
}
.link a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.body{
    display: flex;
    height: 100%;
}
.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: lightgray;
    color: gray;
    min-height: calc(100vh - 90px);
}
.side p a{
    color: gray;
}
.center{
    display: flex;
    width: 80%;
    align-items: flex-start;
}
.upload{
    padding: 5%
}
table{
    border-spacing: 0;
    width: 100%;
}

thead {
    background-color: darkblue;
    color: white;
}
tr{
    height: 70px;
}
th {
    width: 10%;
}
.name{
    width: 30%;
}

a{
    color: gray;
}
t{
    color: blue;
    text-decoration: underline;
}
li{
    list-style-type: none;
    margin: 10px 0 10px 0;
}
